# Папки
/.vs
/3rd_party/_LIB
/3rd_party/_TEMP
/ogsr_engine/_LIB
/ogsr_engine/_TEMP
/.idea

# Precompiled Headers
*.ipch

# Всякий ненужный мусор:
*.VC.*
*.suo
*.user
*.exp
*.aps
*.TMP

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

/gamedata
/gamedata*
/_appdata_
/fsgame*
/mods
/bin_x64/xrEngine.pdb
/Game/Resources_SoC_1.0006/gamedata/levels/pripyat/level.geom
/Game/Resources_SoC_1.0006/gamedata/levels/l12_stancia_2/level.geom
/Game/Resources_SoC_1.0006/gamedata/levels/jupiter/level.geom
/Game/Resources_SoC_1.0006/gamedata/levels/zaton/level.geom
/Game/Resources_SoC_1.0006/gamedata/levels/l07_military/level.geom
/Game/Resources_SoC_1.0006/gamedata/levels/marsh/level.geom
/Game/Resources_SoC_1.0006/gamedata/levels/yantar_old/level.geom
/bin_x64/xrCompress